ul.ribbon ul.menu {
	clear: both;
	overflow: inherit;
	padding-left: 60px;
	margin-top: -32px;
	margin-left: 0px;
	width: 100%;
}

ul.ribbon ul.menu .submenu {
	margin-left: -3px;
	margin-top: -1px;
}

ul.ribbon ul.menu li {
	float: left;
	margin-left: 8px;
}

ul.ribbon ul.menu li ul div.ribbon-list ul li{
	float: none;
}

ul.ribbon ul.menu li ul div.ribbon-list ul li img{
	margin-left: -27px;
}