
.win8style{position:relative;user-select:none;}
.w8ssquare{width:58px;height:55px}
.w8sretangle{height:55px}
.w8sapp{position:absolute;cursor:pointer;z-index:888;user-select:none;}
.draging{z-index:8888;opacity:0.6}














